*{
    margin: 0px;
    padding: 0px;
}
.profile{
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;/*it is used to make space*/
}
.all{
    margin: 10px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
}
.all:hover{
    color: cyan;
}
.main1{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: rgb(121, 173, 175);
}
.main2{
    padding-top: 200px;
    padding-left: 30px;
}
a:hover {
    background-color: cyan;
}
.h{
text-align: center;
font-size: 70px;
padding-top: 20px;
padding-bottom: 20px;
}
.f{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.h3{
    padding-bottom: 20px;
}
.b{
    background-color: bisque;
}